@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
body {
    font-family: Montserrat;
    background-image: url("https://wallpaperaccess.com/full/38583.jpg");
    background-size: cover;
}

li {
    background-color: white;
    border-radius: 10px;
    margin: 15px 5px 5px 0px;
    cursor: pointer;
}

h1 {
    font-size: 20px;
    color: rgb(32, 32, 32);
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
    font-weight: 200;
    font-size: 16px;
}

input {
    font-size: 18px;
    width: 100%;
    padding: 2px;
}

span {
    background: #e75c3c;
    height: 30px;
    padding-top: 4%;
    text-align: center;
    color: white;
    width: 0px;
    margin-right: 5px;
    display: inline-block;
    transition: 0.2s ease-in;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 100;
}

li:hover {
    background-color: rgb(233, 233, 233);
}

.done {
    color: gray;
    text-decoration: line-through;
}

.fa-plus-circle {
    float: right;
    cursor: pointer;
}

.fa-plus-circle:hover {
    color: white;
    transition: 0.2s ease-in;
}

#container {
    width: 270px;
    margin: 0 auto;
    background-color: rgb(221, 221, 221);
    padding: 10;
    border-radius: 10px;
    position: absolute;
    padding-bottom: 25px;
}